@model Student
@{
    ViewData["Title"] = "Delete";
}

<h3 class="text-info">Delete Student</h3>
<br />
<div class="container">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Id" type="hidden" />
    <div style="padding: 30px; border: 1px solid black">
        <form asp-action="Delete">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-1">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Name" disabled class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-1">
                        <label asp-for="Age"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Age" disabled class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-1">
                        <label asp-for="Class"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Class" disabled class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3 offset-3">
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                        <a asp-action="Index" class="btn btn-sm btn-primary">Back To List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


